[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
wtforms = "*"
flask-wtf = "*"
email-validator = "*"
flask-mail = "*"
jwt = "*"
itsdangerous = "*"
flask-bcrypt = "*"
werkzeug = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
